<main>
    <section class="main">
        <div class="container-xl">
            <div class="main__logo">
                <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="./img/sprite.svg#fb"></use>
                </svg>
                <img src="./img/logo-3.png" alt="">
                <div class="main__logo_localisation">
                    <a href="#">RU</a>
                    <a href="#">PL</a>
                </div>
            </div>
            <div class="main__burger-nav">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="p-4">
                            <a href="#" class="main__burger-nav_item">
                                <img src="img/icon.png" alt="icon">
                                <p>Автомобильные перевозки</p>
                            </a>
                            <a href="#" class="main__burger-nav_item">
                                <img src="img/icon.png" alt="icon">
                                <p>Ж/д транспорт</p>
                            </a>
                            <a href="#" class="main__burger-nav_item">
                                <img src="img/icon.png" alt="icon">
                                <p>Проектные грузы</p>
                            </a>
                            <a href="#" class="main__burger-nav_item">
                                <img src="img/icon.png" alt="icon">
                                <p>Сборная грузоперевозка</p>
                            </a>
                            <a href="#" class="main__burger-nav_item">
                                <img src="img/icon.png" alt="icon">
                                <p>Авиаперевозки</p>
                            </a>
                            <a href="#" class="main__burger-nav_item">
                                <img src="img/icon.png" alt="icon">
                                <p>Морские перевозки</p>
                            </a>
                    </div>
                </div>
                
                <nav class="navbar navbar-dark">
                    <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    </div>
                </nav>
            </div>
            <div class="main__block">
                <h1>Автомобильные перевозки</h1>
                <h6>Перевозка грузов автотранспортом</h6>
                <div class="main__block_text">
                    <p>Транспортировка на грузовых автомобилях — один из самых удобных и доступных способов перемещения грузов на небольшие и средние расстояния. Поэтому автоперевозки остаются стабильно популярными у наших клиентов.</p>
                    <p>Компания BAGAT наработала многолетний опыт организации международных перевозок. Мы гарантируем безопасную доставку тяжеловесных, негабаритных, опасных, требующих особых условий грузов.</p>
                </div>
                <div class="main__block_btns">
                    <a class="btn btn-red" href="#">Узнать цену</a>
                    <a class="btn btn-transparent" href="">Подробнее об услуге</a>
                </div>
            </div>
            <div class="main__services">
                <a href="#" class="services-item">
                    <img src="img/icon.png" alt="icon">
                    <p>Автомобильные<br> перевозки</p>
                </a>
                <a href="#" class="services-item">
                    <img src="img/icon.png" alt="icon">
                    <p>Ж/д<br> транспорт</p>
                </a>
                <a href="#" class="services-item">
                    <img src="img/icon.png" alt="icon">
                    <p>Проектные<br> грузы</p>
                </a>
                <a href="#" class="services-item">
                    <img src="img/icon.png" alt="icon">
                    <p>Сборная<br> грузоперевозка</p>
                </a>
                <a href="#" class="services-item">
                    <img src="img/icon.png" alt="icon">
                    <p>Авиаперевозки</p>
                </a>
                <a href="#" class="services-item">
                    <img src="img/icon.png" alt="icon">
                    <p>Морские<br> перевозки</p>
                </a>
            </div>
        </div>
    </section>
    <section class="aboutUs">
        <div class="container-xl">
            <a href="#" class="pre-title">Узнайте нас ближе</a>
            <div class="aboutUs__block">
                <h3>Мы международная транспортная компания</h3>
                <p>BAGAT — это <span class="span-red">экспедиционная компания</span> с собственным перегрузочным терминалом на ст. Семянувка (граница Польши с Беларусью). Благодаря профессионализму персонала 
                    и выгодному расположению, мы способны предложить экспедирование сложных и объёмных грузов. География перевозок, доступных клиентам, не ограничивается Польшей. Мы организуем получение заказов в ряде стран Европы 
                    и на других континентах.</p>
                <a href="#" class="btn btn-red">Подробнее</a>
            </div>
            <div class="aboutUs__block">
                <h3>Транспортно-экспедиционная компания, которой можно доверить свой бизнес</h3>
                <p class="order-2">Автопарк составлен из автомобилей, разработанных для перевозки грузов с разными размерами и свойствами. Поэтому у нас в распоряжении всегда есть автотранспорт, подходящий для безопасной отправки любого груза. Помимо грузовиков мы привлекаем грузовые самолёты и железнодорожный транспорт (платформы, угольные вагоны, крытые 120–158 м3, изотермические вагоны-термосы). Для продвижения по водным маршрутам доступна перевозка генеральных грузов морем.</p>
                <p class="order-1"><span class="span-red">Экспедирование грузов</span> — это услуга, в которой 
                    в первую очередь заинтересованы владельцы коммерческих фирм. Мы рады предложить бизнесменам безопасную транспортировку разнообразных товаров. 
                    В список опций, доступных нашим клиентам, входит перевозка генеральных и проектных грузов с привлечением спецтранспорта.</p>
                <p class="order-3">Благодаря такому набору транспортных средств, мы организовываем <span class="span-red">своевременную и безопасную доставку любых грузов</span>. Для экспедирования принимаются заказы 
                    с бытовой техникой и электроникой, строительными материалами, машинами и агрегатами, производственными линиями, сырьём и многим другим.</p>
                <div class="order-4"><a href="#" class="btn btn-red">Оставить заявку</a></div>
            </div>
        </div>
    </section>
    <section class="convenience">
        <div class="container-xl">
            <a href="#" class="pre-title">Удобство работы с нами</a>
            <h3>BAGAT — экспедиторская компания с собственным перегрузочным терминалом</h3>
            <div class="convenience__block-1">
                <div>
                    <p>Мы владеем перегрузочным комплексом на станции Семянувка (пограничный переход Семянувка/Свислочь). </p>
                    <p>Это позволяет нам предоставлять <span class="span-red">транспортно-экспедиторские услуги</span> эффективнее, чем могут предложить конкуренты.</p>
                    <p><span class="span-red">Миссия нашей логистической компании</span> – не просто перевозить груз из пункта A в пункт B, а доставить товар с максимальными выгодой и удобством для клиента.</p>
                </div>
                <div>
                    <p>Пункт полностью приспособлен для временного хранения, разгрузки/погрузки грузов. Перегрузочный терминал оборудован крытым складом, есть собственные подъездные пути. Общая площадь – более 20 000 кв. м. 
                        В наличии погрузчики Linde грузоподъемностью 1,5-5 тонн. Объект находится рядом с границей республики Беларусь.</p>
                    <a class="red-bold" href="https://www.youtube.com/" target="_blank">
                        <img src="./img/watch.svg" alt="watch">
                        <p>Смотреть презентацию терминала</p>
                    </a>
                </div>
            </div>
            <div class="convenience__block-2">
                <div class="convenience__block-2_item">
                    <h2>1,5 - 5 тонн</h2>
                    <p>Грузоподъём погрузчиков</p>
                </div>
                <div class="convenience__block-2_item">
                    <h2>25000 м2</h2>
                    <p>Площадь терминала</p>
                </div>
                <div class="convenience__block-2_item">
                    <h2>1200 м2</h2>
                    <p>Площадь крытого склада</p>
                </div>
                <div class="convenience__block-2_item">
                    <h2>до 50 тонн</h2>
                    <p>Грузоподъём кранов</p>
                </div>
                <div class="convenience__block-2_item">
                    <h2>24/7</h2>
                    <p>Мониторинг</p>
                </div>
                <div class="convenience__block-2_item">
                    <h2>1520 мм</h2>
                    <p>Собственные ж/д пути</p>
                </div>
            </div>
            <div class="convenience__block-3">
                <div>
                    <h3>Международные транспортные услуги</h3>
                </div>
                <div>
                    <p>Наша международная транспортно-экспедиционная компания организует грузоперевозку по автомобильным, железнодорожным, морским, воздушным путям.         
                    <span class="span-red">Среди услуг нашей фирмы — сложные виды грузоперевозок.</span></p>
                </div>
            </div>
            <div class="convenience__block-4">
                <div>
                    <h4>01</h4>
                    <h5>Безопасная транспортировка негабаритных объектов</h5>
                    <p>Тяжёлая спецтехника, оборудование для производственных линий, сельхозтехники.</p>
                </div>
                <div>
                    <h4>02</h4>
                    <h5>Приём заказов на получение сборных грузов</h5>
                    <p>Если у вас небольшой груз, вы платите только за место, которое он занимает.</p>
                </div>
                <div>
                    <h4>03</h4>
                    <h5>Услуга мультимодальных международных грузоперевозок</h5>
                    <p>Иногда в рамках одного проекта приходится попеременно использовать несколько видов транспорта. Благодаря профессионализму и наработанному взаимодействию со службами разных стран логистическая компания BAGAT способна это организовать.</p>
                </div>
            </div>
            <a class="btn btn-red" href="#">Оставить заявку</a>
        </div>
    </section>
    <section class="priority">
        <div class="container-xl">
            <a href="#" class="pre-title">Приоритетные направления</a>
            <h3>Из Западной Европы в Росиию и другие страны СНГ</h3>
            <div class="priority__block-1">
                <div>
                    <p>С 2010 года мы разработали широчайшую сеть маршрутов. <span class="span-red">Среди приоритетных направлений работы — международные грузоперевозки из Западной Европы во все страны СНГ</span> (включая Россию), а также в государства дальневосточного региона, в Монголию.</p>
                </div>
                <div>
                    <p>Транзитом через РФ мы перевозим заказы в Среднюю Азию. В Казахстан, Туркменистан, Узбекистан грузы перемещаются ж/д составами или автотранспортом. Доставка проходит без промежуточной погрузки, загрузки, что сильно ускоряет и упрощает процесс.</p>
                    <p>Наша логистическая компания проводит международные грузоперевозки и по обратным маршрутам.</p>
                </div>
            </div>
            <div class="priority__block-2">
                <a href="#" class="card">
                    <img src="img/russia.png" alt="flag">
                    <h5>Грузоперевозки в Россию</h5>
                    <p>
                        Узнать подробнее
                        <img src="img/arrow-red.svg" alt="arrow">
                    </p>
                </a>
                <a href="#" class="card">
                    <img src="img/kazakhstan.png" alt="flag">
                    <h5>Грузоперевозки в Казахстан</h5>
                    <p>
                        Узнать подробнее
                        <img src="img/arrow-red.svg" alt="arrow">
                    </p>
                </a>
                <a href="#" class="card">
                    <img src="img/uzbekestan.png" alt="flag">
                    <h5>Грузоперевозки в Узбекистан</h5>
                    <p>
                        Узнать подробнее
                        <img src="img/arrow-red.svg" alt="arrow">
                    </p>
                </a>
                <a href="#" class="card">
                    <img src="img/kirgistan.png" alt="flag">
                    <h5>Грузоперевозки в Кыргызстан</h5>
                    <p>
                        Узнать подробнее
                        <img src="img/arrow-red.svg" alt="arrow">
                    </p>
                </a>
                <a href="#" class="card">
                    <img src="img/mongolia.png" alt="flag">
                    <h5>Грузоперевозки в Монголию</h5>
                    <p>
                        Узнать подробнее
                        <img src="img/arrow-red.svg" alt="arrow">
                    </p>
                </a>
                <a href="#" class="card">
                    <img src="img/turkmenistan.png" alt="flag">
                    <h5>Грузоперевозки в Туркменистан</h5>
                    <p>
                        Узнать подробнее
                        <img src="img/arrow-red.svg" alt="arrow">
                    </p>
                </a>
                <a href="#" class="card">
                    <img src="img/tadgikistan.png" alt="flag">
                    <h5>Грузоперевозки в Таджикистан</h5>
                    <p>
                        Узнать подробнее
                        <img src="img/arrow-red.svg" alt="arrow">
                    </p>
                </a>
                <a href="#" class="card">
                    <img src="img/azerbadzhan.png" alt="flag">
                    <h5>Грузоперевозки в Азербайджан</h5>
                    <p>
                        Узнать подробнее
                        <img src="img/arrow-red.svg" alt="arrow">
                    </p>
                </a>
                <a href="#" class="card">
                    <img src="img/georgia.png" alt="flag">
                    <h5>Грузоперевозки в Грузию</h5>
                    <p>
                        Узнать подробнее
                        <img src="img/arrow-red.svg" alt="arrow">
                    </p>
                </a>
            </div>
            <a href="#" class="btn btn-red">Все направления</a>
        </div>
    </section>
    <section class="benefits">
        <div class="container-xl">
            <a href="#" class="pre-title">Наши преимущества</a>
            <div class="benefits__block-1">
                <h3>Почему выбирают нашу экспедиторскую компанию?</h3>
                <p><span class="span-red">Мы оказываем экспедиторские услуги с 2010 года</span>, 
                    и за этот срок мы сформировали точное понимание того, 
                    что нужно заказчикам. Поэтому мы предоставляем каждому клиенту персонального менеджера, который поможет вам 
                    при обращении в любой день недели 
                    и время дня. Также мы отличаемся от конкурентов тщательным выбором субподрядчиков. Чтобы доставка генеральных грузов проходила без нареканий, возможные партнёры проверяются на соответствие требованиям безопасности.</p>
                <div>
                    <a href="https://www.youtube.com/" target="_blank">
                        <img src="img/watch.svg" alt="watch">
                        Смотреть презентацию компании
                    </a>
                    <br>
                    <a href="#">
                        <img src="img/feedbacks.svg" alt="feedbacks">
                        Отзывы
                    </a>
                </div>
            </div>
            <div class="benefits__block-2">
                <div class="item">
                    <h2>55</h2>
                    <p>Профессионалов в команде</p>
                </div>
                <div class="item">
                    <h2>15 млн €</h2>
                    <p>Оборот в 2020 году</p>
                </div>
                <div class="item">
                    <h2>7500 +</h2>
                    <p>Отгрузок ежегодно</p>
                </div>
            </div>
            <h3>Предлагаем лучшие условия на рынке</h3>
            <div class="benefits__block-3">
                <div class="benefits__block-3_item">
                    <img src="img/delivery.svg" alt="delivery">
                    <p>Доставляем грузы безопасно и в полном объёме</p>
                </div>
                <div class="benefits__block-3_item">
                    <img src="img/car.svg" alt="car">
                    <p>BAGAT — компания со страхованием ответственности экспедитора и собственным перегрузочным комплексом
                    </p>
                </div>
                <div class="benefits__block-3_item">
                    <img src="img/in-time.svg" alt="clock">
                    <p>Без опозданий — вы получаете товар точно в оговоренные сроки</p>
                </div>
                <div class="benefits__block-3_item">
                    <img src="img/security.svg" alt="security">
                    <p>Все субподрядчики проходят многоступенчатую проверку</p>
                </div>
                <div class="benefits__block-3_item">
                    <img src="img/manager.svg" alt="manager">
                    <p>Персональный менеджер — на связи с вами в режиме 24/7</p>
                </div>
                <div class="benefits__block-3_item">
                    <img src="img/logistic-2.svg" alt="logistic">
                    <p>Помощь от профессионалов в любой ситуации и информирование 
                        о продвижении груза каждый день</p>
                </div>
            </div>
        </div>
    </section>
    <section class="licence">
        <div class="container-xl">
            <a href="#" class="pre-title">Наши лицензия</a>
            <h3>Мы сертифицированная компания, поэтому нам можно доверять</h3>
            <div class="licence__imgs-1">
                <div><img src="img/Sertifikat_aladidn.jpeg" alt="img"></div>
                <div><img src="img/Sertifikat_aladidn.jpeg" alt="img"></div>
                <div><img src="img/Sertifikat_aladidn.jpeg" alt="img"></div>
            </div>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="img/Sertifikat_aladidn.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                    <img src="img/Sertifikat_aladidn.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                    <img src="img/Sertifikat_aladidn.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
            
            <a href="#" class="pre-title">Наш сервис</a>
            <h3>Транспортно-экспедиторская компания BAGAT предлагает полный сервис: от двери до двери</h3>
            <div class="licence__block">
                <p>Чем хорошая логистическая компания отличается от посредственного перевозчика? Можно выделить много параметров, но главный — <span class="span-red">то, насколько клиент может быть спокоен 
                    за сохранность заказа и скорость доставки</span>.
                </p>
                <p>Международная транспортно-экспедиторская компания БАГАТ — это надёжные грузоперевозки по Евразии. 
                    В нашем распоряжении находится около 7 000 единиц спецтехники, предназначенной для безопасной, быстрой перевозки грузов с разными свойствами и габаритами.</p>
            </div>
        </div>
    </section>
    <section class="cases">
        <div class="container-xl">
            <a href="#" class="pre-title">Кейсы</a>
            <h3>Мы всегда ответственно подходим к работе</h3>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <h5>Проект по перевозке промышленного оборудования из Европы в Москву</h5>
                    <div class="carousel-item__block-1">
                        <div>
                            <img src="img/lorry.svg" alt="lorry">
                            68 автомобилей
                        </div>
                        <div>
                            <img src="img/logistic.svg" alt="logistic">
                            Италия, Испания, Венгрия, Франция — Москва
                        </div>
                    </div>
                    <div class="carousel-item__block-2">
                        <div class="carousel-item__block-2_part">
                            <p class="span-red">ЗАДАЧА:</p>
                            <p>Осуществить блочную перевозку оборудования точно в срок. Осуществить маркировку и переупаковку каждой позиции под требования заказчика.</p>
                            <div><img src="img/img1.jpg" alt="img"></div>
                        </div>
                        <div>
                            <div class="carousel-item__block-2_part">
                                <p class="span-red">ОСОБЕННОСТИ ЗАКАЗА:</p>
                                <ol>
                                    <li>Использование отапливаемого склада для единовременного хранения груза с 20 автомобилей.</li>
                                    <li>Размещение груза на складе в 1 уровень, с доступом к каждому элементу. Занимаемая площадь около 1000 м².</li>
                                    <li>Наличие неделимых элементов до 9 метров длиной и весом до 8 тонн.</li>
                                    <li>Маркировка в несколько этапов с подробным фотоочетом каждого элемента.</li>
                                    <li>Единовременное прибытие блоком из авто на таможню назначения и выгрузку (до 12 авто единовременно).</li>
                                </ol>
                            </div>
                            <div class="carousel-item__block-2_part">
                                <p class="span-red">РЕЗУЛЬТАТ:</p>
                                <p>Благодаря слаженной работе команды BAGAT, сложный проект превратился в интересную задачу, которая с успехом была решена!</p>
                                <a href="#" class="btn btn-red">Подробнее</a>
                                <a href="#" class="btn btn-grey">Смотреть все кейсы</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <h5>Проект по перевозке промышленного оборудования из Европы в Москву</h5>
                    <div class="carousel-item__block-1">
                        <div>
                            <img src="img/lorry.svg" alt="lorry">
                            <p>68 автомобилей</p>
                        </div>
                        <div>
                            <img src="img/logistic.svg" alt="logistic">
                            <p>Италия, Испания, Венгрия, Франция — Москва</p>
                        </div>
                    </div>
                    <div class="carousel-item__block-2">
                        <div class="carousel-item__block-2_part">
                            <p class="span-red">ЗАДАЧА:</p>
                            <p>Осуществить блочную перевозку оборудования точно в срок. Осуществить маркировку и переупаковку каждой позиции под требования заказчика.</p>
                            <div><img src="img/img1.jpg" alt="img"></div>
                        </div>
                        <div>
                            <div class="carousel-item__block-2_part">
                                <p class="span-red">ОСОБЕННОСТИ ЗАКАЗА:</p>
                                <ol>
                                    <li>Использование отапливаемого склада для единовременного хранения груза с 20 автомобилей.</li>
                                    <li>Размещение груза на складе в 1 уровень, с доступом к каждому элементу. Занимаемая площадь около 1000 м².</li>
                                    <li>Наличие неделимых элементов до 9 метров длиной и весом до 8 тонн.</li>
                                    <li>Маркировка в несколько этапов с подробным фотоочетом каждого элемента.</li>
                                    <li>Единовременное прибытие блоком из авто на таможню назначения и выгрузку (до 12 авто единовременно).</li>
                                </ol>
                            </div>
                            <div class="carousel-item__block-2_part">
                                <p class="span-red">РЕЗУЛЬТАТ:</p>
                                <p>Благодаря слаженной работе команды BAGAT, сложный проект превратился в интересную задачу, которая с успехом была решена!</p>
                                <a href="#" class="btn btn-red">Подробнее</a>
                                <a href="#" class="btn btn-grey">Смотреть все кейсы</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <h5>Проект по перевозке промышленного оборудования из Европы в Москву</h5>
                    <div class="carousel-item__block-1">
                        <div>
                            <img src="img/lorry.svg" alt="lorry">
                            68 автомобилей
                        </div>
                        <div>
                            <img src="img/logistic.svg" alt="logistic">
                            Италия, Испания, Венгрия, Франция — Москва
                        </div>
                    </div>
                    <div class="carousel-item__block-2">
                        <div class="carousel-item__block-2_part">
                            <p class="span-red">ЗАДАЧА:</p>
                            <p>Осуществить блочную перевозку оборудования точно в срок. Осуществить маркировку и переупаковку каждой позиции под требования заказчика.</p>
                            <div><img src="img/img1.jpg" alt="img"></div>
                        </div>
                        <div>
                            <div class="carousel-item__block-2_part">
                                <p class="span-red">ОСОБЕННОСТИ ЗАКАЗА:</p>
                                <ol>
                                    <li>Использование отапливаемого склада для единовременного хранения груза с 20 автомобилей.</li>
                                    <li>Размещение груза на складе в 1 уровень, с доступом к каждому элементу. Занимаемая площадь около 1000 м².</li>
                                    <li>Наличие неделимых элементов до 9 метров длиной и весом до 8 тонн.</li>
                                    <li>Маркировка в несколько этапов с подробным фотоочетом каждого элемента.</li>
                                    <li>Единовременное прибытие блоком из авто на таможню назначения и выгрузку (до 12 авто единовременно).</li>
                                </ol>
                            </div>
                            <div class="carousel-item__block-2_part">
                                <p class="span-red">РЕЗУЛЬТАТ:</p>
                                <p>Благодаря слаженной работе команды BAGAT, сложный проект превратился в интересную задачу, которая с успехом была решена!</p>
                                <a href="#" class="btn btn-red">Подробнее</a>
                                <a href="#" class="btn btn-grey">Смотреть все кейсы</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </section>
    <section class="clients">
        <div class="container-xl">
            <a href="#" class="pre-title">Наши клиенты</a>
            <h3>Мы гордимся сотрудрудничеством с лидерами</h3>
            <div class="clients__imgs">
                <div>
                    <div><img src="img/lotos.png" alt="img"></div>
                    <div><img src="img/nestle.png" alt="img"></div>
                </div>
                <div>
                    <div><img src="img/P&G.png" alt="img"></div>
                    <div><img src="img/paradyz.png" alt="img"></div>
                </div>
            </div>
            <a href="#" class="pre-title">FAQ</a>
            <h3>Ответы на часто задаваемые вопросы</h3>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Corporate and commercial
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        This service includes:<br>
                        choice of corporate form<br>
                        start-up companies<br>
                        corporate governance<br>
                        corporate ownership and management<br>
                        shareholder agreements<br>
                        reorganizations<br>
                        joint ventures<br>
                        drafting shareholder agreements<br>
                        legal expertise of commercial agreements<br>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Insurance and torts
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        This service includes:<br>
                        choice of corporate form<br>
                        start-up companies<br>
                        corporate governance<br>
                        corporate ownership and management<br>
                        shareholder agreements<br>
                        reorganizations<br>
                        joint ventures<br>
                        drafting shareholder agreements<br>
                        legal expertise of commercial agreements<br>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Taxes
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        This service includes:<br>
                        choice of corporate form<br>
                        start-up companies<br>
                        corporate governance<br>
                        corporate ownership and management<br>
                        shareholder agreements<br>
                        reorganizations<br>
                        joint ventures<br>
                        drafting shareholder agreements<br>
                        legal expertise of commercial agreements<br>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Finance relationship management
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          This service includes:<br>
                          choice of corporate form<br>
                          start-up companies<br>
                          corporate governance<br>
                          corporate ownership and management<br>
                          shareholder agreements<br>
                          reorganizations<br>
                          joint ventures<br>
                          drafting shareholder agreements<br>
                          legal expertise of commercial agreements<br>
                      </div>
                    </div>
                  </div>
            </div>
            <a href="#" class="pre-title">Блог</a>
            <h3>Читайте полезные новости в нашем блоге</h3>
            <div class="clients__articles">
                <a href="#" class="article">
                    <p>Открытие нашего нового офиса в Оттаве. Поздравьте с открытием!</p>
                    <div>
                        <span class="span-grey">14.03.2021</span>
                        <p href="#"><img src="img/arrow-top-left.svg" alt="arrow"></p>
                    </div>
                    <div><img src="./img/office.jpeg" alt="office"></div>
                </a>
                <a href="#" class="article">
                    <p>Открытие нашего нового офиса в Оттаве. Поздравьте с открытием!</p>
                    <div>
                        <span class="span-grey">14.03.2021</span>
                        <p><img src="img/arrow-top-left.svg" alt="arrow"></p>
                    </div>
                    <div><img src="./img/office.jpeg" alt="office"></div>
                </a>
            </div>
            <a href="#" class="btn btn-red">Читать все статьи</a>
        </div>
    </section>
    <section class="proposition">
        <div class="container-xl">
            <a href="#" class="pre-title">Предложение</a>
            <h3>Закажите перевозку вашего груза по выгодной цене прямо сейчас</h3>
            <p>Оставьте заявку, либо свяжитесь с нами по <a href="mailto:info@bagat.su" class="span-red">электронной почте</a></p>
            <a href="#" class="btn btn-red">Оставить заявку</a>
        </div>
    </section>
</main>

